* {
    margin: 0;
    padding: 0;
}
section{
    margin-left: 200px;
    margin-top: 100px;
}
.h1 {
    margin: 20px;
    font-size: 15pt;
    margin-left: 30px;
    display: inline-block;
    margin-right: 400px;


}

.Page {
    display: flex;
    align-items: center;

}

a {
    margin-right: 20px;
    padding-left: 4px;
    text-decoration: none;
    color: black;

}

.section {
    margin-left: 40px;
    padding: 20px;
}

#h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color: grey;
}

h1 {
    font-size: 25pt;
}

#h2 {
    font-size: 25pt;
    position: relative;
    /* background-image: linear-gradient(to left,red ,blue); */
    color: rgb(62, 59, 59);
    font-weight: bold;
}

.Hire {
    font-size: 15pt;

    margin-top: 15px;
    display: inline-block;
    background-color: rgb(255, 255, 0);

    border: thin;
    border-radius: 3px;
    padding: 7px 17px;
    font-weight: bold;

}

.Hire:hover {
    background-color: rgb(133, 135, 102);
    color: white;
}
.img{
    margin-top: 10px;

}
#f1:hover{
    background-color: rgb(13, 209, 239);
    color: white;
    
   
}
.about{
    text-align: center;
    margin-top: 50px;
   
}
#a1{
    color: grey;
    font-size: 15px;
}
#image2{
    margin-top: 20px;
}






main{
    display: flex;
    
    justify-content: space-between;
    margin: 150px;
}
button{
    background-color: rgb(240,200,115);
    border: 0;
    height: 20pt;
    width: 50pt;
}
#about h1{ 
    display:flex;
    justify-content:center;
    align-items: center;
    
}
#about h3{
    display:flex;
    justify-content:center;
    align-items: center;
}
#gt{
    background-color: black;
    border: solid;
    color: white;
    width: 80pt;
    height: 30pt;

}
#show{
    border: 5px;
}
#br{ 
    background-image: linear-gradient(to right, blue 10%,rgba(128, 0, 128, 0.137) );
    height: 5px;
    width: 700px;
}

footer{
    padding-left: 600px;
}
#d{
    height: 100px;
    width: 150px;
    border: solid white;
    box-shadow: 20px;
    background-color: antiquewhite;
    padding: 50px;
}
#op{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:110px 150px;

}
.task{
    margin-left: 60px;
    margin-top: 50px;
    font-size: 20pt;
    text-decoration: none;
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.task li{
    padding: 10px;}




